body{
    background-color: #FAF8EC;
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 450px;
    border-top: 1px solid #4A4A4A;
    border-bottom: 1px solid #4A4A4A;
}

.profile {
    display: flex;
    text-align: center;
    align-items: center;
    width: 450px;
    height: 50px;
    position:sticky;
}

.name a {
    text-decoration: none;
    color:black;
    font-weight: 900;
    padding-left: 7px;
}

.bold {
    font-weight: 1000;
    margin-left: auto;
    margin-right: 10px;
}

.image1 img {
    width: 450px;
    height: auto;
    margin-bottom: 5px;
}

.icon img {
    width: 25px;
    padding-right: 8px;
    padding-bottom: 8px;
}

.icon2 img{
    margin-left: 305px;
    padding-bottom: 10px;
}

.text {
    font-size: 15px;
}

.text strong {
    font-size: 17px;
}

.hashtag a {
    color: #3143AD;
    text-decoration: none;
}

.button input {
    display: flex;
    background-color: #FAF8EC;
    width: 50px;
    font-weight: 700;
    justify-content: center;
    margin-top: 10px;
    margin-right: 30px;
}

.light input{
    margin-top: 30px;
}
